/************ Fuentes ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Css por defecto ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Css para la barra de navegación ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
.navbar-text button.vvd {
  font-weight: 700;
  color: #121212; /* Color del texto */
  border: 2.5px solid #fff;
  font-size: 15px;
  padding: 10px 20px; /* Ajuste de padding para hacerlo más pequeño */
  margin-left: 18px;
  background-color: #fff; /* Color de fondo */
  transition: 0.4s ease-in-out;
}


.navbar-text button.vvd::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button.vvd a {
  text-decoration: none; /* Quitar la subrayado del enlace */
}


/* Estilos para la barra de navegación horizontal */
.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.22s ease-in-out;
  background-color: #121212;
}

.navbar .menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin-right: 15px;
}


.vertical-nav {
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translateY(-50%); /* Centra verticalmente el elemento */
  height: 60%;
  width: 5.5cm;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  transition: 0.3s ease-in-out;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 100px / 120px 100px;
}

.vertical-nav.open {
  left: 0.5%;
}

.vertical-nav ul {
  list-style: none;
  padding: 0;
}

.vertical-nav ul li button {
  color: #fff;
  margin: 25px 0;
  cursor: pointer;
}

.vertical-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.vertical-nav ul li a:hover {
  color: #10cff9;
}

#nav-1{
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
    margin-top: 20px; /* Espacio hacia arriba */
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 2.5px solid #fff;
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 2.5px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 2px;
  padding: 18px 32px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-bottom: 19px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  border-radius: 40px;
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* ************ CSS DE PRUEBAS ************* */
.pruebitas{
background-color: pink;
padding: 200px;
font-size: 59px
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: rgb(234, 164, 42);
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
  cursor: pointer;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;    /* Centrar verticalmente */
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}


/************ Css para la parte de Contacto ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
 
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  color: rgb(234, 164, 42);;
}
.contact p {
	font-size: 25px;
	font-weight: 600;  
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.footer img {
  width: 39%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

/* Css para el componente de Musica.js */
.musica-background{
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.musica-container {
  position: relative; /* Añadimos position relative para z-index */
  z-index: 1; /* Añadimos z-index para el contenedor */
}

.musica-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Agregamos transición para el filtro */
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* Añadimos position relative para z-index */
  z-index: 1; /* Añadimos z-index para cada carta */
}

.musica-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.musica-card.active {
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3; /* Aumentamos z-index para la carta activa */
  width: 90%;
  max-width: 600px;
  transition: transform 0.3s ease;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  filter: none; /* Quitamos el filtro para la carta activa */
}

.musica-card:not(.active) {
  filter: brightness(70%) blur(1px); /* Aplicamos filtro de brillo y desenfoque para las cartas inactivas */
}

.musica-card-collapse {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .musica-card.active {
    width: 100%;
    left: 0;
    transform: translateY(-50%);
  }
}

/* CSS PARA CIENCIA.JS */
.ciencia-container {
  min-height: 100vh; /* Altura mínima del viewport */
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px;
  box-sizing: border-box;
}

.navbar-custom {
  display: flex;
  justify-content: space-between; /* Espacia los elementos del Navbar */
  align-items: center; /* Alinea los elementos del Navbar en el centro verticalmente */
  padding: 10px 20px; /* Espacio interno del Navbar */
  background-color: #f8f9fa; /* Color de fondo del Navbar */
  border-bottom: 2px solid #e7e7e7; /* Borde inferior */
}

.navbar-custom .house {
  margin-right: 10px; /* Espacio a la derecha del ícono */
}

.news-list {
  display: flex;
  flex-wrap: wrap; /* Permite que las cartas se ajusten en múltiples filas */
  justify-content: center;
  gap: 20px; /* Espacio entre las cartas */
}

.news-card {
  background-color: #ffffff; /* Color de fondo de las cartas */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de profundidad */
  max-width: 300px; /* Ancho máximo de las cartas */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  text-align: center; /* Centra el texto dentro de las cartas */
}

.news-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la carta */
  height: 200px; /* Establece una altura fija para la imagen */
  object-fit: cover; /* Cubre toda el área sin distorsión */
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.news-content {
  padding: 10px;
}

.news-card h3 {
  color: black;
  font-size: 1.25em; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Espacio inferior del título */
}

.news-card p {
  color: black;
  font-size: 1em; /* Tamaño de fuente de la descripción */
  margin-bottom: 20px; /* Espacio inferior de la descripción */
}

.news-card a {
  color: #007bff; /* Color del enlace */
  text-decoration: none; /* Sin subrayado en el enlace */
}

.news-card a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

/* CSS PARA DEPORTES.JS */
.deportes-container {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  min-height: 100vh;
  padding: 20px;
  color: black;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #e7e7e7;
}

.navbar-custom .house {
  margin-right: 10px;
}

.news-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-card img {
  max-height: 200px;
  object-fit: cover;
}

.news-card .btn {
  margin-top: auto;
}
